extends layout
block content
    .w3-card-4
    header.w3-container.w3-deep-orange
      h3 Utilizador apagado com sucesso.
    p
        a(href='/alunos') 
            button Ver todos os alunos
    p
        a(href='/alunos/registar') 
            button Registar novo aluno.
    
    footer(class="w3-container w3-deep-orange")
        address Gerado por Marco Matias :: 2020-Novembro